.home_row {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    width: auto;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px;
    justify-content: center;
    border-radius: 10px;

}

.home_row>* {
    margin-left: 20px;
    opacity: 100%;

    background-color: aliceblue;
}

.home_image {
    width: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    position: absolute;
}

.card {

    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)) padding-box,
        linear-gradient(to bottom, #b93a4e, #358b7e) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px rgb(70, 70, 70);

}

.card:hover {
    box-shadow: 1px 1px 10px rgb(136, 136, 136);

}

.motion {
    background-color: transparent;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;

    transform-style: preserve-3d;
}

.svg_icon {
    transform: scale(2.5);
}

.image {


    object-fit: cover;
}

.desc {
    max-width: 20%;
    position: absolute;
    right: 1em;
    padding-top: 0.5em;
}