ˀ.home_row {
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
    justify-content: center;
}

.home_row>* {
    margin-left: 20px;
    margin-top: 20px;
}

.home_image {
    width: 100%;
    z-index: -1;
    margin-bottom: -350px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    position: absolute;
}

.card {
    background-image: linear-gradient(to right, rgb(37, 37, 37), #353535, rgb(37, 37, 37));

}

.card:hover {
    transform: scale(1.05, 1.05);
}