.workercard-component {
    min-height: 100px;
    backdrop-filter: brightness(120%) hue-rotate(180deg) invert(4%);
    border-radius: 1em;
    border: 1px solid #2c302e;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px #2c302e;
}

.workercard-img {
    border: 1px solid #fefefe;
    border-radius: 100%;
    height: 100px;
    width: auto;
    object-fit: cover;
}

.workercard-main {
    background-color: transparent;
    margin-left: 1em;
    margin-top: 1em;
    width: 15%;
}